<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Online Bookstore</title>

    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>

    <nav style="background:black;padding:15px;">
        <a href="/Book" style="color:white;margin-right:20px;">
            Books
        </a>

        <a href="/Cart" style="color:white;margin-right:20px;">
            Cart
        </a>

        <a href="/Admin/Dashboard" style="color:white;">
            Admin
        </a>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

</body>
</html>